doctype html 
html 
    head 
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no')
<<<<<<< HEAD
            //- meta(http-equiv="Content-Security-Policy" content="script-src 'self' api.mapbox.com;worker-src blob: ;connect-src https://*.tiles.mapbox.com https://api.mapbox.com https://events.mapbox.com")
            //- meta(http-equiv="Content-Security-Policy" content="script-src 'self'  https://cdnjs.cloudflare.com")
=======
            //-meta(http-equiv="Content-Security-Policy" content="script-src 'self' api.mapbox.com;worker-src blob: ;connect-src https://*.tiles.mapbox.com https://api.mapbox.com https://events.mapbox.com")
>>>>>>> f287947206f88a822085d969b1d18958bab0d825
            link(rel ='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
            title Natours | #{title}

    body
        // HEADER
        include _header

        // CONTENT
        block content 
            h1 This is a content plaseholder


        // FOOTER
        include _footer
<<<<<<< HEAD
        script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
        script(src='/js/login.js') 
        script(src='/js/mapbox.js')
=======
        script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
        script(src='/js/mapbox.js')
        script(src='/js/login.js')
>>>>>>> f287947206f88a822085d969b1d18958bab0d825
